@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@font-face {
    font-family: "Dorothea W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.eot");
    src: url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.svg#Dorothea W01 Regular")format("svg");
}

@theme {
    --font-family-cormorant: var(--font-cormorant);
    --font-family-great-vibes: var(--font-great-vibes);
    --font-family-allura: var(--font-allura);
    --font-family-public-sans: var(--font-public-sans);
    --font-family-dorothea: "Dorothea W01 Regular", serif;
    --font-family-garamond: "EB Garamond", serif;
}

@utility font-dorothea {
    font-family: "Dorothea W01 Regular", serif;
}

@utility font-cormorant {
    font-family: var(--font-cormorant);
}

@utility font-great-vibes {
    font-family: var(--font-great-vibes);
}

@utility font-allura {
    font-family: var(--font-allura);
}

@utility font-public-sans {
    font-family: var(--font-public-sans);
}

@utility font-garamond {
    font-family: "EB Garamond", serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
