@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
@import "tailwindcss";

:root {
    --backgroundLight: #F8F2E5;
    --backgroundAccent: #831515;
    --darkest: #171717;
}

@font-face {
    font-family: "Dorothea W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.eot");
    src: url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/c54b340a963b59acf32cdef10afc1f71.svg#Dorothea W01 Regular") format("svg");
}

@font-face {
    font-family: "Snell Roundhand";
    src:
        url("https://online-fonts.com/fonts/snell-roundhand.woff2") format("woff2"),
        url("https://online-fonts.com/fonts/snell-roundhand.woff") format("woff"),
        url("https://online-fonts.com/fonts/snell-roundhand.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@theme {
    /* font type */
    --font-family-cormorant: var(--font-cormorant);
    --font-family-great-vibes: var(--font-great-vibes);
    --font-family-allura: var(--font-allura);
    --font-family-public-sans: var(--font-public-sans);
    --font-family-dorothea: "Dorothea W01 Regular", serif;
    --font-family-garamond: "EB Garamond", serif;

    /* new selected fonts */
    --font-family-didot: "GFS Didot", serif;
    --font-family-snell: "Snell Roundhand", cursive;

    /* colors */
    --color-pearl: var(--backgroundLight);
    --color-accent: var(--backgroundAccent);
    --color-dark: var(--darkest);

    --breakpoint-xs: 475px;
}

@utility font-dorothea {
    font-family: "Dorothea W01 Regular", serif;
}

@utility font-cormorant {
    font-family: var(--font-cormorant);
}

@utility font-great-vibes {
    font-family: var(--font-great-vibes);
}

@utility font-allura {
    font-family: var(--font-allura);
}

@utility font-public-sans {
    font-family: var(--font-public-sans);
}

@utility font-garamond {
    font-family: "EB Garamond", serif;
}

@utility font-didot {
    font-family: var(--font-family-didot);
}

@utility font-snell {
    font-family: "Snell Roundhand", cursive;
}

body {
    background: var(--backgroundAccent);
    color: var(--color-dark);
    font-family: Arial, Helvetica, sans-serif;
}
